
 <ul class="nav nav-list" >
<li><%=@picture.id%> </li>
<li><%=@picture.content%> </li>
 </ul>

 <table >
   <thead>
   <tr>
     <th>id</th>
     <th>content</th>
     <th>unpass</th>
     <th>pass</th>
     <th>groupunpass</th>
   </tr>
   </thead>
   <tbody>
   <% @pictures.each do |picture| %>
       <tr>
         <td><%= picture.id %></td>
         <td><%= picture.content %></td>
         <td><%= picture.unpass %></td>
         <td><%= picture.pass %></td>
         <td><%= picture.groupunpass %></td>
   <% end %>
   </tbody>
 </table>







<ul class="nav nav-list">
<li class="nav-header">不能通过</li>
<li> <%= link_to "过时无笑点", "pictures/#{@picture.id}/vote" %> </li>
<li> <%= link_to "有政治风险", "pictures/#{@picture.id}/vote" %> </li>
<li> <%= link_to "三俗", "pictures/#{@picture.id}/vote" %> </li>
<li> <%= link_to "虚假或PS", "pictures/#{@picture.id}/vote" %> </li>
<li> <%= link_to "广告无意义", "pictures/#{@picture.id}/vote" %> </li>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">的确是囧事</li>
  <li> <%= link_to "通过", "pictures/#{@picture.id}/vote1" %> </li>
</ul>
