<h1>All users</h1>
<table>
  <tr>
    <th>Name</th>
    <th>badges</th>
    <th>points</th>
    <th>level</th>
  </tr>


<<% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.show_badges %></td>
        <td><%= user.points %></td>
        <td><%= user.level %></td>

        <td><%= link_to 'Destroy', "#{user.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>